<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>View Patient Details</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">
    <h2>Patient Details</h2>
    <p><strong>Patient ID:</strong> <%= patient.patientId %></p>
    <p><strong>Name:</strong> <%= patient.name %></p>
    <p><strong>Phone Number:</strong> <%= patient.phoneNo %></p>
    <p><strong>Address:</strong> <%= patient.address %></p>
    <p><strong>Symptoms:</strong> <%= patient.symptoms %></p>
    <p><strong>Reason for Admission:</strong> <%= patient.reason %></p>
    <p><strong>Admit Date:</strong> <%= patient.admitDate.toDateString() %></p>
    <p><strong>Doctor Appointed:</strong> <%= patient.doctor %></p>
    <p><strong>Bed Number:</strong> <%= patient.bedNumber %></p>
    
    <!-- Prescription Container -->
    <% if (patient.prescriptions.length > 0) { %>
      <% for(prescription of patient.prescriptions) { %>
    <div class="prescription-container">
      <h3>Prescriptions</h3>
        <ul>
            <li>
              <p><strong>Date:</strong> <%= prescription.date.toDateString() %></p>
              <p><strong>Time:</strong> <%= prescription.time%></p>
              <p><strong>Doctor:</strong> <%= prescription.doctor %></p>
              <p><strong>Medication:</strong> <%= prescription.medication %></p>
              <p><strong>Dosage:</strong> <%= prescription.dosage %></p>
              <p><strong>Instructions:</strong> <%= prescription.instructions %></p>
            </li>
        </ul>
    </div> 
    <% } %>
      <% } else { %>
        <div class="prescription-container">
          <h3>Prescriptions</h3>
        <p>No prescriptions available.</p>
      </div>
      <% } %>
    
    
    <a class="btn" href="/patient/<%= patient._id %>/dashboard">Back to Dashboard</a>
  </div>
</body>
</html>